%h1 Listing blogs

%table
  %tr
    %th Title
    %th
    %th
    %th

  - @blogs.each do |blog|
    %tr
      %td= blog.title
      %td= link_to 'Show', blog
      %td= link_to 'Edit', edit_blog_path(blog)
      %td= link_to 'Destroy', blog, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

%h1 Listing blogs via AJAX

%table.json-target
  %tr
    %th Title

%br

= link_to 'New Blog', new_blog_path

-#= image_tag 'http://media.giphy.com/media/3nkGvxiTvKU24/giphy.gif'
-#%img{src: 'javascript:console.log("Foo");'}
-#%img{src: '"><script>console.log("Foo")</script><img src="'}

:coffee
  $ ->
    $.getJSON '/blogs', (blogs) ->
      for blog in blogs
        $('.json-target').append "<tr><td>" + blog.title + "</td></tr>"

    #$('body').append("<img src=\"javascript:console.log('foo');\">")

:javascript
  $(function() {
    $.getJSON('/blogs', function(blogs) {
      for (var i = 0; i < blogs.length; i++) {
        blog = blogs[i];
        $('.json-target').append("<tr><td>" + blog.title + "</td></tr>");
      }
    });
  });
