%h1 Listing blogs

%table
  %tr
    %th Title
    %th
    %th
    %th

  - @blogs.each do |blog|
    %tr
      %td= blog.title
      %td= link_to 'Show', blog
      %td= link_to 'Edit', edit_blog_path(blog)
      %td= link_to 'Destroy', blog, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

%h1 Listing blogs via AJAX

%table.json-target
  %tr
    %th Title

%br

= link_to 'New Blog', new_blog_path

:coffee
  $ ->
    $.getJSON '/blogs', (blogs) ->
      for blog in blogs
        $('.json-target').append "<tr><td>" + blog.title + "</td></tr>"

:javascript
  $(function() {
    $.getJSON('/blogs', function(blogs) {
      for (var i = 0; i < blogs.length; i++) {
        blog = blogs[i];
        $('.json-target').append("<tr><td>" + blog.title + "</td></tr>");
      }
    });
  });
